<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CDRDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F166C9A1F092C53006ABEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F166CAE1F092C53006ABEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F166CB91F092C53006ABEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
